/* * {
  margin: 0;
  padding: 0;
} */
main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

/* .rating {
  padding: 1rem;
} */

body {
  background-color: bisque;
}

.btn-block {
  width: 100%;
}
